<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QTI Converter</title>
    <!-- must have the leading slash before static-->
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
  </head>
  <body>
    <div id="header">
      <h1>QTI Conversion Form</h1>
      <a id="email" href="mailto:vyle4378@gmail.com">vyle4378@gmail.com</a>
    </div>
    <h3 style="font-weight: normal">
      Step 1 (Optional): Generate problems. If you already have them, go to step
      2.
    </h3>
    <textarea
      id="userInput"
      placeholder="Give me 5 multiple choice problems and 5 fill in the blank problems about the quadratic formula"
    ></textarea>
    <button id="generateButton">Generate</button>
    <p>(This will clear the text area below)</p>
    <br />
    <br />
    <h3 style="font-weight: normal">
      Step 2: Paste problems below. Edit as needed. Convert once done.
    </h3>
    <label for="zipName">Name your zip file:</label>
    <input type="text" id="zipName" placeholder="Quadratic Formula" />
    <textarea id="responseArea" placeholder="Enter problems"></textarea>
    <button id="convertButton">Format and Convert</button>
    <p>(This will format the text area above)</p>
  </body>

  <script>
    const textareas = document.querySelectorAll("textarea");
    const userInput = document.getElementById("userInput");
    const generateButton = document.getElementById("generateButton");
    const responseArea = document.getElementById("responseArea");
    const convertButton = document.getElementById("convertButton");

    async function generateProblems(input) {
      const message = input.value;
  
      const response = await fetch("/generate", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ message }),
      });

      const data = await response.json();
      responseArea.value = data.problems;
      adjustTextareaHeight();
    }

    async function convertProblems() {
      const zipName = document.getElementById("zipName").value;

      // Format the problems if they are not already formatted. Fix any wrong answers or typos.
      generateProblems(responseArea);
      const problems = responseArea.value;

      const response = await fetch("/convert", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ problems }),
      });

      const zip = await response.blob();
      const url = URL.createObjectURL(zip);
      const a = document.createElement("a");
      a.href = url;
      a.download = zipName + ".zip";
      a.click();
      a.remove(); // Removes the hidden "a" element from the html
      URL.revokeObjectURL(url); // Frees up memory used by the blob URL
    }

    function adjustTextareaHeight() {
      textareas.forEach((textarea) => {
        textarea.addEventListener("input", () => {
          textarea.style.height = "auto";
          textarea.style.height = textarea.scrollHeight - 20 + "px";
        });
      });
    }

    generateButton.addEventListener("click", () => {
      if (userInput.value !== "") {
        generateProblems(userInput);
      } else {
        alert("Please enter a topic for problem generation");
      }
    });

    convertButton.addEventListener("click", () => {
      if (responseArea.value !== "") {
        convertProblems();
      } else {
        alert("Please enter problems to convert");
      }
    });

    adjustTextareaHeight();
  </script>
</html>
