<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <p>
      Step 1 (Optional): Generate problems. If you already have them, go to step
      2.
    </p>
    <textarea id="userInput"></textarea>
    <button id="sendButton">Generate</button>
    <p>
      Step 2: Paste problems into the text area below. Edit as needed. Click
      convert once done.
    </p>
    <textarea id="responseArea"></textarea>
    <button id="convertButton">Convert</button>
  </body>
</html>

<script>
  const textareas = document.querySelectorAll("textarea");
  const userInput = document.getElementById("userInput");
  const sendButton = document.getElementById("sendButton");
  const responseArea = document.getElementById("responseArea");

  sendButton.addEventListener("click", generateProblems);

  async function generateProblems() {
    const message = userInput.value;
    console.log(message);
    const response = await fetch("/generate", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ message }),
    });

    const data = await response.json();
    console.log(data);
    responseArea.innerHTML = data.problems;
  }

  textareas.forEach((textarea) => {
    textarea.addEventListener("input", () => {
      textarea.style.height = "auto";
      textarea.style.height = textarea.scrollHeight - 20 + "px";
    });
  });
</script>
